---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectSpecsCollections.html
multisequence: nine
---	

<div class="container">
	<div class="col-sm-3 col-md-3 col-lg-3">
	
		<ul class="secondaryMenu" data-spy="affix" data-offset-top="70" data-offset-bottom="200">
			<li><a href="#collectionsmobile">Mobile</a></li>
			<li><a href="#collectionsdesktop">Desktop</a></li>
			<li><a href="#collectionstablet">Tablet</a></li>
		</ul>
	</div>
	<div class="col-sm-9 col-md-9 col-lg-8">
		
		<h2>My Account &rarr; Collections</h2>
		
		<p class="longText">Lists collections that the user has created.</p>
		
    <h3 class="specItem"><a name="collectionsmobile">Mobile</a></h3>
    
    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionsscreen.png" alt="Collections Tab: Mobile"/>
    
    <ol class="longText letters">
      <li><strong>Navigation</strong><br/>
      The Collections tab can be accessed by selecting My Account (the user’s avatar), then selecting “Apps & Collections” menu item on the navigation bar. User navigates between Collections, Wishlist and My Apps by selecting different tabs.</li>
      <li><strong>Create collection message</strong>
        <ul>
          <li>If user has not created a collection, show a message that reads “Create collections of your favourite apps! Share your collections with friends and the Marketplace community.”</li>
          <li>If user has created at least one collection, do not show this message.</li>
        </ul>
      </li>
      <li><strong>Create a new collection button</strong>
        <ul>
          <li>If user has no collection, the button should appear below the message.</li>
          <li>If user has at least one collection, the button should appear below the Collections/Wishlist/My Apps navigation tabs.</li>
        </ul>
      </li>
      <li><strong>List of Collections – What to Show?</strong><br/>
      Collections should be sorted from the most recently created to the oldest.</li>
      <li><strong>Statistics</strong><br/>
      The collection creator should be able to view the stats for their collection. These stats include:<br/>
        <ul>
          <li>Number of shares the collection has received</li>
          <li>Number of views the collection has received</li>
          <li>Number of upvotes the collection has received</li>
        </ul>
      
      <span class="warning">WARNING: The interface to do this is not yet known. The mechanism to share his/her own collection is also unclear.</span>
      
      </li>
      
      <li><strong>Search bar</strong>
        <ul>
          <li>Only show search when user has created more than 3 collections.</li>
          <li>Search should appear above the list of collections and below the Create a new collection button</li>
          <li>The search box should appear just above the list of collections.</li>
        </ul>
      </li>
    </ol>

    <h3 class="specItem"><a name="collectionsdesktop">Desktop</a></h3>   

    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionsscreendesktop.png" alt="Collections, Wishlist & My Apps Screen: Desktop"/>
    
    <p class="longText">On the desktop layout, collection is a section on a page that also contains <a href="projectSpecsWishlist.html#wishlistdesktop">wishlist</a> and <a href="projectSpecsMyApps.html#myappsdesktop">my apps</a>.</p>
    
    <ol class="longText letters">
      <li><strong>Navigation</strong><br/>
      The Collections, Wishlist and My Apps page can be accessed by selecting My Account (or the user’s avatar), then selecting “Apps & Collections” from the popup menu.</li>
      <li><strong>Page Title</strong><br/>
      On the desktop layout, each section of the page has a title. User navigates between Collections, Wishlist and My Apps simply by scrolling down, not by selecting different tabs.</li>
      <li><strong>Search bar</strong><br/>
      Works exactly the same as the mobile layout, except it’s located to the side of (not below) the Create a new collection button.</li>
      <li><strong>Create a new collection button</strong><br/>
      The button should always appear on the same spot, regardless of how many collections the user has created.</li>
      <li><strong>List of Collections – What to Show?</strong><br/>
        <ul>
          <li><strong>Order:</strong> Exactly the same as the mobile layout. Collections are listed from most recently created to oldest. However, it moves from left to right, top to bottom.</li>
          <li><strong>Quantity:</strong> Show up to 5 in one row.</li>
          <li><strong>Size of element:</strong> Each collection block is always 4 columns wide.</li>
          <li><strong>Horizontal scrolling control:</strong> Show right arrow control only after user has created more than 6 collections. This arrow should allow the user to scroll through the overflow content. Naturally, a left arrow will be displayed present after the user scrolls right.</li>
          <li><strong>Create collection message:</strong> Exactly the same as the mobile layout. Only show when user has not created a collection. If user has created at least one collection, do not show it.</li>
        </ul>
      </li>
    </ol>
    
    <h3 class="specItem"><a name="collectionstablet">Collections, Wishlist & My Apps Screen: Tablet</a></h3>
      
    <a name="collectionscreentablet"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionscreentablet.png" alt="he can see so much more" title="" /></a>   
    
    <p class="longText">On the desktop layout, collection is a section on a page that also contains <a href="projectSpecsWishlist.html#wishlistdesktop">wishlist</a> and <a href="projectSpecsMyApps.html#myappsdesktop">my apps</a>.</p> 
    
    <ol class="longText">
      <li><strong>Search bar</strong><br/>
      Works and is positioned exactly like the mobile layout: below the Create a new collection button.</li>
      <li><strong>List of Collections – What to Show?</strong><br/>
        <ul>
          <li><strong>Order:</strong> Exactly the same as the mobile layout. Collections are listed from most recently created to oldest. However, it moves from left to right, top to bottom.</li>
          <li><strong>Quantity:</strong> Show up to 2 in one row. Show up to 4 at a time.</li>
          <li><strong>Horizontal scrolling control:</strong> Show right arrow control only after user has created more than 4 collections.</li>
        </ul>
      </li>
    </ol>
    
    <p class="longText">The rest of the features are exactly the same as the <a href="#collectionsdesktop">Desktop layout</a>.</p>
		
	</div>
	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. 
		NOTE: This is currently broken in the Jekyll ver of this template.
		-->
		{% if page.multipage %}
			{% include homePagination.html %}
		{% endif %}