---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectSpecsMobile.html
multisequence: six
---	

<div class="container">
	<h1>Specs – Mobile</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}

	<div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-3">

	  <h2>Table of Contents</h2>
	  
	  <ol class="longText">
	  
	    <li>App listing page
	      <ol>
	        <li><a href="#addappnewcollectionflow">Flow: Add app to new collection</a></li>
	        <li><a href="#addappexistingcollectionflow">Flow: Add app to existing collection</a></li>
	        <li><a href="#addapptocollectionscreen">Screen: Add app to collection modal</a></li>
        </ol>
	    </li>
	    <li>Collections landing page
	      <ul>
	        <li><a href="#flagcollectionflow">Flow: Flagging collection for abuse</a></li>
        </ul>
	    </li>
	    <li>Warning interface
	      <ul>
	        <li><a href="#collectionnamewarningscreen">Screen: Saving collection without a name</a></li>
	      </ul>
	    </li>
	  
	  </ol>
	</div>
	
  <div class="row">
  	<div class="col-sm-12 col-md-12 col-lg-12">    
      
      
      
      
      
      <h3>Collections landing page &rarr; Flow: Flagging collection for abuse</h3>

      <a name="flagcollectionflow"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_reportcollection.png" alt="he can see so much more"/></a>
      
      <h4>Acceptance criteria for flagging a collection for abuse</h4>
      
      <ul class="longText">
        <li>There should be an icon on the collection landing screen that allows the user to report a collection. </li>
        <li>The creator of a collection should not be able to report their own collection.</li>
        <li>When the report icon has been selected, an overlay should appear asking for the reason for the report. The three options are: spam, inappropriate language, and inappropriate avatar.</li>
        <li>After the user has selected the reason for reporting the collection the user should return to the collection landing screen and view feedback that the collection was reported.</li>
      </ul>
      
      
      
      
            
      <h3>Warning interface &rarr; Screen: Saving collection without a name</h3>
      
      <a name="collectionnamewarningscreen"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionnamewarning.png" alt="he can see so much more"/></a>
      
      <h4>Acceptance criteria for collection name warning</h4>
      
      <ul class="longText">
        <li>When a user selects "Done" and the collection has description or added app (or both) without a name this warning should appear (if the collection has no data, do not show this warning and just take user back to the previous screen.)</li>
        <li>The user should be able to decide whether to name the collection to save or not to save it. </li>
        <li>If the user chooses not to save the collection, take the user back to the previous screen she was on. </li>
        <li>If the user chooses to name her collection, take her to the name field. The cursor should be in the name field and the keyboard up (on mobile) so the user can immediately type in a name.</li>
      </ul>




      
    </div>
  </div>