---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectSpecsIndividualCollection.html
multisequence: seven
---

<div class="container">
	<div class="col-sm-3 col-md-3 col-lg-3">

		<ul class="secondaryMenu" data-spy="affix" data-offset-top="70" data-offset-bottom="200">
			<li><a href="#individualcollectionmobile">Mobile</a></li>
      <li><a href="#flagcollectionmobile">■ Flag for Abuse</a></li>
			<li><a href="#individualcollectiondesktop">Desktop</a></li>
      <li><a href="#flagcollectiondesktop">■ Flag for Abuse</a></li>
			<li><a href="#individualcollectiontablet">Tablet</a></li>
      <li><a href="#flagcollectiontablet">■ Flag for Abuse</a></li>
      </ul>
	</div>
	<div class="col-sm-9 col-md-9 col-lg-8">

		<h2>Home Page &rarr; Individual Collection</h2>

    <h3 class="specItem"><a name="individualcollectionmobile">Mobile</a></h3>

    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionview.png" alt="Individual collection page: mobile" title="" /></a>

    <ol class="longText letters">
      <li><strong>Page Title</strong><br/>
      Collection name should appear below the user avatar.</li>
      <li><strong>Edit Button</strong><br/>
        <ul>
          <li>The edit button should appear <em>where? Still unclear.</em>
          <li>The collection should have an edit button if the user is the creator of the collection. Otherwise, this button should not be shown.</li>
          <li>If the user selects "Edit", take the user to the edit collection screen.</li>
        </ul>
      <li><strong>Collection Graphic</strong>
        <ul>
          <li><strong>Size:</strong> fill the entire screen, as tall as required</li>
          <li><strong>Description:</strong> should appear below the share/flag/favorite area</li>
        </ul>
      </li>
      <li><strong>Apps – What to Show?</strong>
        <ul>
          <li><strong>Order:</strong> Apps are listed from most recently added to oldest, moving top to bottom</li>
          <li><strong>Quantity:</strong> As many rows as required.</li>
          <li><strong>Size of element:</strong> Each app block must always be 4 columns wide</li>
        </ul>
      </li>

    </ol>

    <h3 class="specItem"><a name="flagcollectionmobile">Mobile &rarr; Flag Collection for Abuse</h3>

    <a name="flagcollectionmobile"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_reportcollection.png" alt="Flag collection for abuse: mobile"/></a>

    <ol class="longText">
      <li><strong>Collection landing screen</strong><br/>
        <ul>
          <li>There should be a flag icon on the collection landing screen that allows the user to report a collection.</li>
          <li>The creator of a collection should not be able to report their own collection.</li>
        </ul>
      </li>
      <li><strong>Report overlay</strong><br/>
      When the report icon has been selected:
        <ul>
          <li>A an overlay should appear, asking for the reason for the report.</li>
          <li>The user can select whether the collection contains:
            <ol>
              <li>Spam</li>
              <li>Inappropriate language</li>
              <li>Inappropriate avatar</li>
            </ol>
          </li>
        </ul>
      </li>
      <li><strong>Feedback</strong><br/>
      After selecting a reason, the user should return to the collection landing screen, and receive a feedback message that the reporting process was successful.</li>
    </ol>

    <h3 class="specItem"><a name="individualcollectiondesktop">Desktop</a></h3>

    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionviewdesktop.png" alt="Individual collection page: desktop" title="" />
		<br>
		<img src="http://mhanratty.github.io/marketplaceux-usercollections/img/userCollectionDetailWithDescriptionDesktop.png" alt="Individual collection page with description: desktop" title="" />

    <ol class="longText letters">
      <li><strong>Page Title</strong><br/>
      Collection name should appear on the top of the page.</li>
      <li><strong>Edit Button</strong><br/>
      The edit button should appear <em>on the same level</em> as the collection name.</li>
      <li><strong>Collection Graphic</strong><br/>
        <ul>
          <li><strong>Size:</strong> 6 columns wide and 264 px tall.</li>
        </ul>
        <ol>
          <li><strong>If collection has no description:</strong> center graphic on the center of the screen.</li>
          <li><strong>If collection has description:</strong> align graphic left, align description right.</li>
        </ol>
      </li>
      <li><strong>Apps – What to Show?</strong><br/>
      <strong>Quantity:</strong> 3 blocks in one row, as many row as required.</li>
    </ol>

    <p class="longText">The rest of the features are exactly the same as the <a href="#individualcollectionmobile">Mobile layout</a>.</p>

    <h3 class="specItem"><a name="flagcollectiondesktop">Desktop &rarr; Flag Collection for Abuse</h3>

    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/flagIssueOptionsDesktop.png" alt="Flag collection options modal: desktop" title="" />
		<br>
		<img src="http://mhanratty.github.io/marketplaceux-usercollections/img/flagIssueDescriptionDesktop.png" alt="Flag collection description modal: desktop" title="" />
		<br>
		<img src="http://mhanratty.github.io/marketplaceux-usercollections/img/flagIssueConfirmedDesktop.png" alt="Flag collection confirmation: desktop" title="" />

    <h3 class="specItem"><a name="individualcollectiontablet">Tablet</a></h3>

    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionviewtablet.png" alt="Individual collection page: tablet" title="" />

    <ol class="longText letters">
      <li><strong>Edit Button</strong><br/>
      Should appear <em>above</em> the collection name.</li>
      <li><strong>Collection Graphic</strong><br/>
      The description field must always appear below the graphic, never to the side.</li>
      <li><strong>Apps – What to Show?</strong><br/>
      <strong>Quantity:</strong> 2 blocks in one row, as many rows as required.</li>
    </ol>

    <p class="longText">The rest of the features are exactly the same as the <a href="#individualcollectiondesktop">Desktop layout</a>.</p>

<h3 class="specItem"><a name="flagcollectiontablet">Tablet &rarr; Flag Collection for Abuse</h3>

    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/flagIssueOptionsTablet.png" alt="Flag collection options modal: tablet" title="" />
				<br>
				<img src="http://mhanratty.github.io/marketplaceux-usercollections/img/flagissueDescriptionTablet.png" alt="Flag collection description modal: tablet" title="" />
				<br>
				<img src="http://mhanratty.github.io/marketplaceux-usercollections/img/flagIssueConfirmedTablet.png" alt="Flag collection confirmation: tablet" title="" />

	</div>
	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html.
		NOTE: This is currently broken in the Jekyll ver of this template.
		-->
		{% if page.multipage %}
			{% include homePagination.html %}
		{% endif %}
