---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectSpecsWishlist.html
multisequence: fourteen
---

<div class="container">
	<div class="col-sm-3 col-md-3 col-lg-3">

		<ul class="secondaryMenu" data-spy="affix" data-offset-top="70" data-offset-bottom="200">
			<li><a href="#wishlistmobile">Mobile</a></li>
      <li><a href="#wishlistdesktop">Desktop</a></li>
      <li><a href="#wishlisttablet">Tablet</a></li>
		</ul>
	</div>
	<div class="col-sm-9 col-md-9 col-lg-8">

		<h2>My Account &rarr; Wishlist</h2>

		<p class="longText">Lists apps that the user has added to her/his wishlist.</p>

    <h3 class="specItem"><a name="wishlisttabmobile">Mobile</a></h3>

    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_appwishlist.png" alt="Wishlist Tab: Mobile"/>

    <ol class="longText letters">
      <li><strong>Navigation</strong><br/>
      The Wishlist tab can be accessed by selecting the user’s avatar, then selecting “Apps & Collections” menu item on the navigation bar.</li>
      <li><strong>Wishlist message</strong>
        <ul>
          <li>If the user has no app in the wishlist, show a message that reads “Nothing in your wishlist? Add any apps to your wishlist by tapping the ⊕ icon on an app detail page.”</li>
          <li>If user has at least one app in the wishlist, do not show this message.</li>
        </ul>
      </li>
      <li><strong>Edit list button</strong><br/>
      When selected, this button takes user to the wishlist editing interface.</li>
      <li><strong>List of wishlisted apps</strong>
        <ul>
          <li>Wishlisted apps should be sorted from the most recently added to the oldest.</li>
          <li>If an app on the wish list is installed by the user the app should be automatically removed from the user's app wishlist.</li>
        </ul>
      </li>
      <li><strong>Done button</strong><br/>
      This button only appears on the wishlist editing interface. When selected, this button takes user back to the wishlist viewing interface.</li>
      <li><strong>Remove an app</strong>
        <ul>
          <li>This button only appears on the wishlist editing interface.</li>
          <li>When selected, an app is removed from the wishlist</li>
        </ul>
      </li>
    </ol>

    <h3 class="specItem"><a name="wishlistdesktop">Desktop</a></h3>

    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/wishlistDesktop.png" alt="Wishlist: Desktop"/>

    <p class="longText">On the desktop layout, wishlist is a section on a page that also contains <a href="projectSpecsCollections.html#collectionsdesktop">collections</a> and <a href="projectSpecsMyApps.html#myappsdesktop">my apps.</p>

    <h3 class="specItem"><a name="wishlisttablet">Tablet</a></h3>

    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/wishlistTablet.png" alt="Wishlist: Tablet"/>

    <p class="longText">On the tablet layout, wishlist is a section on a page that also contains <a href="projectSpecsCollections.html#collectionstablet">collections</a> and <a href="projectSpecsMyApps.html#myappstablet">my apps.</p>

	</div>
	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html.
		NOTE: This is currently broken in the Jekyll ver of this template.
		-->
		{% if page.multipage %}
			{% include homePagination.html %}
		{% endif %}
