---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectSpecsDesktop.html
multisequence: seven
---	

<div class="container">
	<h1>Specs – Desktop</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}

	<div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-3">
	
  	<h2>Table of Contents</h2>
  	  
	  <ol class="longText">
	  
	    <li>My Account page
	      <ul>
	        <li><a href="#collectionspagescreendesktop">Screen: Collections, Wishlist & My Apps page</a>
      	    <ol>
      	      <li><a href="#createcollectionscreendesktop">Screen: Create collection</a></li>
      	      <li><a href="#editcollectionscreendesktop">Screen: Edit collection</a></li>
      	    </ol>
          </li>
        </ul>
	    </li>
	    <li><a href="#collectionlandingscreendesktop">Screen: Collections landing page</a></li>
	  
	  </ol>
	</div>
	
  <div class="row">
  	<div class="col-sm-12 col-md-12 col-lg-12">        
      
      <h3>Screen: Collection landing page</h3>
      
      <a name="collectionlandingscreendesktop"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionviewdesktop.png" alt="he can see so much more" title="" /></a>
      
      <h4>Acceptance criteria for viewing a user collection on desktop</h4>
      
      <ul class="longText">
        <li>The collection should have a name.</li>
        <li>The collection should have an edit button if the user is the creator of the collection. The edit button should appear on the same level as the name of the collection field.</li>
        <li>If the user selects "Edit" take the user to the edit collection screen.</li>
        <li>The graphic should be 6 columns and 264px tall on desktop.</li>
        <li>If the collection does not have a description center the collection graphic in the center of the screen.</li>
        <li>If the collection has a description, make the graphic flush left with the collection name and float the description to the right of the graphic.</li>
        <li>Show 3 columns of apps. </li>
        <li>Apps should be listed in reverse chronological order from newest to oldest. Apps should be listed in this order from right to left, up to down.</li>
      </ul>
      
      
      
      
  
  	</div>
  </div>