---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectSpecsCreateCollection.html
multisequence: ten
---	

<div class="container">
	<div class="col-sm-3 col-md-3 col-lg-3">
	
		<ul class="secondaryMenu" data-spy="affix" data-offset-top="70" data-offset-bottom="200">
			<li>My Account Page</li>
			<li>Create A New Collection</li>
			<li> </li>
			<li><a href="#createnewcollectionmobile">Mobile</a></a>
			  <ul>
			    <li><a href="#createnewcollectionflowmobile">Flow</a></li>
			  </ul>
      </li>
			<li>&emsp;<a href="#createnewcollectiondesktop">Desktop</a></li>
			<li>&emsp;<a href="#createnewcollectiontablet">Tablet</a></li>
		</ul>
	</div>
	<div class="col-sm-9 col-md-9 col-lg-8">
		
		<h2>My Account Page</h2>
		
    <h3><a name="createnewcollectionmobile">Create A New Collection: Mobile</a></h3>
    
    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_createcollectionviews.png" alt="Create A New Collection: Mobile"/>
    
    <h4>Acceptance criteria for create collections screens</h4>
    
    <ul class="longText">
      <li>The create collection screen should have a "Done" link when the user is finished creating their collection.</li>
      <li>The create collection screen should show a default graphic for the collection that is grey with slots for icons for apps that are added.</li>
      <li>The user's current Markeplace avatar should be visible on the graphic. </li>
      <li>The user's current Marketplace display name should be visible on the graphic.</li>
      <li>The user should be able to click on the avatar and be taken to their profile to edit their avatar and display name.</li>
      <li>Entering a name for the collection is required. </li>
      <li>Entering a description for the collection is optional. </li>
      <li>Adding an app to a collection is optional.</li>
      <li>The user can choose whether to make the collection visible for others to view on the Marketplace. Making the collection visible should be selected by default.</li>
      <li>There should be a call-to-action button that allows users to add apps to the collection. The add apps call to action should always appear after the "Make visible" toggle and before any apps on the create/edit collection screen.</li>
      <li>The user should be able to delete a collection. The button for deleting a collection should always appear at the bottom.</li>
      <li>Once a user adds an app an icon should appear allowing the user to change the background of the collection. This background should be randomly generated.</li>
      <li>Any apps that have been added should show up as icons on the graphic. The first app added should be added as the center app. The second app added should be in the 2nd slot (slot to the left of the center slot). The 3rd app added should be in the 4th slot (slot to the right of the center slot. The 4th app should be added to the 1st slot and the 5th app should be in 5th and final slot.</li>
      <li>Apps should be listed underneath the add apps call-to-action. </li>
      <li>App listing should have a remove icon and icon that indicates that listing can be moved up in down in order.</li>
    </ul>
    
    <h3><a name="createnewcollectionflowmobile">Create A New Collection Flow: Mobile</a></h3>
    
    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_createcollectionfromcollections.png" alt="Create A New Collection Flow: Mobile"/>
      
    <h4>Acceptance criteria for creating a collection from the collections screen</h4>
    
    <ul class="longText">
    <li>There should be a prominent call to action for the user to create a new collection. When selected this call-to-action should take the user to the create collection screen.</li>
    <li>Create collection screen
      <ul>
        <li>The create collection screen should have a "Done" link when the user is finished creating their collection.</li>
        <li>The create collection screen should show a default graphic for the collection. </li>
        <li>The user's current Markeplace avatar should be visible on the graphic.</li>
        <li>The user's current Marketplace display name should be visilble on the graphic.</li>
        <li>Entering a name for the collection is required. </li>
        <li>When the user enters the name of the collection, it should show up in real time on the graphic above the user's display name.</li>
        <li>When the user hits enter on the collection name field they should automatically be taken to the description field.</li>
        <li>If the user hits enter on the description field the keyboard should dismiss.</li>
        <li>There should be a call-to-action button that allows users to add apps to the collection. The add apps call to action should always appear after the "Make visible" toggle and before any apps on the create/edit collection screen.</li>
        <li>When the user selects the add to apps call-to-action a new screen should appear for the user to search for apps.</li>
      </ul>
    </li>
    <li>Add to apps screen
      <ul>
        <li>On the add to apps screen there should be a search box for users to search for an app by name in the Marketplace. </li>
        <li>On add to apps screen the search box should only return mobile apps available for that user's region and operator.</li>
        <li>The user must click enter to execute the search.</li>
        <li>Search results should appear with their icon, app name, developer name, content rating and review rating. Instead of an install button the listing should have a grey circle indicating the ability for the app to be selected.</li>
        <li>The entire line item for the app is a touch target that will select the app.</li>
        <li>When the app is selected, the icon should appear selected. </li>
        <li>After x seconds the app listing should fade to white. A message "App add to collection" should appear and remain for x seconds after which the entire listing should disappear.</li>
        <li>The user can select multiple apps from the search results to add to the collection.</li>
        <li>The user can delete their current search and execute multiple searches adding multiple apps.</li>
        <li>When user selects "Done" on add to apps screen the user should return to the create collection screen.</li>
      </ul>
    </li>
    <li>Create collections screen after an app is added
      <ul>
        <li>If at least one app is selected the background of the graphic should change from grey to a color. </li>
        <li>Any apps that have been added should show up as icons on the graphic. The first app added should be added as the center app. The second app added should be in the 2nd slot (slot to the left of the center slot). The 3rd app added should be in the 4th slot (slot to the right of the center slot. The 4th app should be added to the 1st slot and the 5th app should be in 5th and final slot.</li>
        <li>Once a user adds an app an icon should appear allowing the user to change the background of the collection. The background color/graphic should be randomly generated.</li>
        <li>If the user selects "Done" and the collection requirements are fulfilled (the collection has a name) the user is taken to the collection landing screen.</li>
        <li>If the user selects "Done" and the user has added a description or an app but has not created a name, the user should see a warning scree (see <a href="#collectionnamewarning">spec</a>)</li>
        <li>If the user selects "Done" and has not inputted any data (no name, description, or apps) no collection is created. The user should be taken back to the "Collections" screen.</li>
      </ul>
    </li>
    </ul>
    
    <h3><a name="createnewcollectiondesktop">Create A New Collection: Desktop</a></h3>
      
    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectioncreatedesktop.png" alt="Create A New Collection: Desktop"/>
    
    <h4>Acceptance criteria for creating a user collection on desktop</h4>
    
    <ul class="longText">
      <li>The user should view this screen when she clicks on "Create collection."</li>
      <li>The name of the collection is required. </li>
      <li>When the user clicks on the "Name of collection" field she should be able to enter text. </li>
      <li>If the user hits the enter or tab button while editing the name field take the user to the "Add description" field.</li>
      <li>The description field is optional. It should float to the right of the collection graphic.</li>
      <li>The graphic should be 6 columns and 264px tall on desktop.</li>
      <li>The user should be able to edit her profile. If the user clicks on their avatar on the collection graphic, take the user to the edit profile screen.</li>
      <li>The user should be able to edit the background of a collection. If the user clicks on the edit background icon the change background screen should open in a modal.</li>
      <li>The user should be able to decide whether to make a collection visible on dektop. By default the collection should be visible.</li>
      <li>The user should be able to search for apps via a search box on desktop.</li>
      <li>The user can search by an app name or the url of the app on Marketplace.</li>
      <li>The user should be able to clear a search using the "x" icon in the search box.</li>
      <li>After the user has entered a search the user should be able to filter their app search by all devices, desktop or mobile. By default it should filter by all devices.</li>
      <li>Search results should appear below the search bar. The result should have the app icon, app name and a call-to-action to add the app to a collection.</li>
      <li>The entire line item for the app is a touch target that will select the app.</li>
      <li>When the app is selected, the icon should appear selected. </li>
      <li>After x seconds the app listing should fade to white. A message "App add to collection" should appear and remain for x seconds after which the entire listing should disappear (see how apps are added on the <a href="projectSpecsMobile.html#createnewcollectionflow">spec for creating a collection</a></li>
      <li>The user can select multiple apps from the search results to add to the collection.</li>
      <li>Add apps in 3 columns. The most recently added app should appear first in the list. </li>
      <li>The "Cancel" and "Done" buttons should appear on the same level as the name of collection field.</li>
      <li>If the user selects "Cancel" take the user back to the screen she was previously viewing.</li>
      <li>If the user selects "Done" and the user has entered a collection name take the user to the collection landing screen.</li>
      <li>If the user selects "Done" and has not entered a collection name show the user a warning that the collection needs a name to be saved (see <a href="projectSpecsMobile.html#collectionnamewarningscreen">spec</a>)</li>
    </ul>
    
    <h3><a name="createnewcollectiontablet">Create A New Collection: Tablet</a></h3>
      
    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectioncreatetablet.png" alt="Create A New Collection: Tablet" title="" />    

    <h4>Acceptance criteria for creating a collection on tablet</h4>
    
    <p class="longText"><a href="projectSpecsDesktop.html#createcollectionscreendesktop">Same as for desktop</a>, except:</p>
    
    <ul class="longText">
      <li>"Cancel" and "Done" should appear above the name of the collection.</li>
      <li>The description field should appear below the graphic.</li>
      <li>Apps should appear in two columns.</li>
    </ul>
		
	</div>
	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. 
		NOTE: This is currently broken in the Jekyll ver of this template.
		-->
		{% if page.multipage %}
			{% include homePagination.html %}
		{% endif %}