---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectSpecsAppListingPage.html
multisequence: eight
---	

<div class="container">
	<div class="col-sm-3 col-md-3 col-lg-3">
	
		<ul class="secondaryMenu" data-spy="affix" data-offset-top="70" data-offset-bottom="200">
		  <li><a href="#addappmodal">Add To Collection Modal</a></li>
			<li><a href="#addappexistingcollection">Add To Existing Collection</a></li>
			<li><a href="#addappnewcollection">Add To New Collection</a></li>
      </ul>
	</div>
	<div class="col-sm-9 col-md-9 col-lg-8">
		
		<h2>Home Page &rarr; App Listing Page</h2>
		
    <h3 class="specItem">Add To Collection Modal</h3>
    
    <p class="longText">The Add to collection modal appears when user clicks the "+" icon on the Individual app listing page, or the App block that will appear inside the feed.</p>

    <a name="addappmodal"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_addappmodal.png" alt="Add App To Collection Modal"/></a>
    
    <ol class="longText letters">
      <li><strong>Add to collection modal</strong><br/>
      Modal title should be vertically centered on the screen</li>
      <li><strong>List of collections – one item</strong>
      "My App Wishlist" should be selected by default.</li>
      <li><strong>Create a Collection button</strong><br/>
      Selecting this button opens the Create collection modal</li>
      <li><strong>Make visible to all</strong><br/>
      User can choose to make the collection publicly visible on the Marketplace. Visibility should be turned on by default.</li>
      <li><strong>List of collections – multiple items</strong>
        <ul>
          <li>"My App Wishlist" should always be item #1 on the list.</li>
          <li>Collections should be listed from most recently created to oldest.</li>
          <li>No collection should be selected by default.</li>
          <li>An app may be added to multiple collections.</li>
        </ul>
      </li>
      <li><strong>Scroll Bar</strong><br/>
      If there are more than 4 collections on the list, scroll bar should appear.</li>
      <li><strong>OK Button</strong><br/>
      If no collection is selected, the "OK" button should be deactivated.</li>
    </ol>
      
    <p class="longText">List of collections – general behavior</p>
    
    <ul class="longText">
      <li>Every collection should include the number of apps currently inside it.</li>
      <li>The entire collection line item should be a touch target</li>
      <li>When a line item is selected, the box to the right should be checkmarked</li>
    </ul>
		
    <h3 class="specItem"><a name="addappexistingcollection">Add App To Existing Collection</a></h3>
    
    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_addappexistingcollection.png" alt="Add App To New Collection"/>
				
    <ol class="longText">
      <li><strong>App listing page</strong><br/>
        <ul>
          <li>The add to collection icon appears on the app details screen alongside share, flag and upvote</li>
          <li>When user selects the icon, a modal opens</li>
        </ul>
      </li>
      <li><strong>Add to collection modal</strong><br/>
      When user selects “OK”, the Collection selected confirmation appears.</li>
      <li><strong>Confirmation</strong><br/>
        <ul>
          <li>The confirmation should contain:
            <ul>
              <li>App icon</li>
              <li>App name</li>
              <li>Name of collection the app was added to</li>
            </ul>
          </li>
          <li>The confirmation should be “[App Name] was added to [Collection Name]”</li>
          <li>[Collection Name] should be a link to the collection landing page</li>
        </ul>
      </li>
      <li><strong>App listing page, with confirmation message</strong><br/>
        <ul>
          <li>When the confirmation message is dismissed by selecting “OK”, the user should return to the app details screen.</li>
          <li>The confirmation message should be “Added to [Collection Name]!”</li>
        </ul>
      </li>
     </ol>

    <h3 class="specItem"><a name="addappnewcollection">Add App To New Collection</a></h3>

    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_addappnewcollection.png" alt="Add App To Existing Collection"/>
    
    <ul class="longText">
      <li>The first step is viewing the <strong>App details screen</strong> and clicking the Add to collection button. This step is detailed in the previous section: <a href="#addappexistingcollection">Add To Existing Collection</a>.</li>
    </ul>
    <ol class="longText">
      <li><strong>Add to collection modal</strong><br/>
      Instead of selecting the name of a collection, user selects the Create a new collection button and is taken to Create collection.</li>
      <li><strong>Create collection</strong><br/>
        <ul>
          <li>Collection name is required<br/>
          While this field is selected, pressing the Return/Enter key on the phone keyboard is the equivalent of saying “go to the next field”. The next field is Collection Description.</li>
          <li>Collection description is optional<br/>
          While this field is selected, pressing the Return/Enter key on the phone keyboard is the equivalent of saying “dismiss the keyboard”.</li>
          <li>Make visible to all<br/>
          User can choose to make the collection publicly visible on the Marketplace. Visibility should be turned on by default.</li>
        </ul>
      </li>
      <li><strong>Collection ready</strong><br/>
        <ul>
          <li>When the user has entered a Collection name, the "Create" button is enabled</li>
          <li>When the user selects "Create" the user should return to the Add to collection modal.</li>
        </ul>
      </li>
      <li><strong>Add to collection modal, with new collection added</strong><br/>
        <ul>
          <li>The newly added collection should be the second item on the page, listed directly after the app wish list.</li>
          <li>The newly added collection should be selected by default.</li>
          <li>The user can select multiple additional collections to add the app to.</li>
          <li>User clicks "OK" to complete task</li>
        </ul>
      </li>
      <li><strong>Confirmation</strong><br/>
      The confirmation message is exactly the same as what was outlined in the previous section. However, if app was added to multiple collections, the confirmation message should be “[App Name] was added to [Collection Name 1], [Collection Name 2] and [Collection Name 3]”</li>
    </ol>   
		
	</div>
	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. 
		NOTE: This is currently broken in the Jekyll ver of this template.
		-->
		{% if page.multipage %}
			{% include homePagination.html %}
		{% endif %}