---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectSpecsDesktop.html
multisequence: seven
---	

<div class="container">
	<h1>Specs – Desktop</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}

	<div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-3">
	
  	<h2>Table of Contents</h2>
  	  
	  <ol class="longText">
	  
	    <li>My Account page
	      <ul>
	        <li><a href="#collectionspagescreendesktop">Screen: Collections, Wishlist & My Apps page</a>
      	    <ol>
      	      <li><a href="#createcollectionscreendesktop">Screen: Create collection</a></li>
      	      <li><a href="#editcollectionscreendesktop">Screen: Edit collection</a></li>
      	    </ol>
          </li>
        </ul>
	    </li>
	    <li><a href="#collectionlandingscreendesktop">Screen: Collections landing page</a></li>
	  
	  </ol>
	</div>
	
  <div class="row">
  	<div class="col-sm-12 col-md-12 col-lg-12">        
      
      
      
      
      
      <h3>My Account page &rarr; Screen: Edit collection</h3>
      
      <a name="editcollectionscreendesktop"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectioneditdesktop.png" alt="he can see so much more" title="" /></a>
      
      <h4>Acceptance criteria for editing a user collection on desktop</h4>
      
      <ul class="longText">
        <li>The user should view this screen when she clicks "Edit" on the collection landing screen.</li>
        <li>The name of the collection is required. </li>
        <li>When the user clicks on the "Name of collection" field she should be able to enter text. </li>
        <li>If the user hits the enter or tab button while editing the name field take the user to the "Add description" field.</li>
        <li>The description field is optional. It should float to the right of the collection graphic.</li>
        <li>The graphic should be 6 columns and 264px tall on desktop.</li>
        <li>The user should be able to edit her profile. If the user clicks on their avatar on the collection graphic, take the user to the edit profile screen.</li>
        <li>The user should be able to edit the background of a collection. If the user clicks on the edit background icon the change background screen should open in a modal.</li>
        <li>The user should be able to decide whether to make a collection visible on dektop. By default the collection should be visible.</li>
        <li>The user should be able to search for apps via a search box on desktop.</li>
        <li>The user can search by an app name or the url of the app on Marketplace.</li>
        <li>The user should be able to clear a search using the "x" icon in the search box.</li>
        <li>After the user has entered a search the user should be able to filter their app search by all devices, desktop or mobile. By default it should filter by all devices.</li>
        <li>Search results should appear below the search bar. The result should have the app icon, app name and a call-to-action to add the app to a collection.</li>
        <li>The entire line item for the app is a touch target that will select the app.</li>
        <li>When the app is selected, the icon should appear selected. </li>
        <li>After x seconds the app listing should fade to white. A message "App add to collection" should appear and remain for x seconds after which the entire listing should disappear (see how apps are added on the <a href="projectSpecsMobile.html#createnewcollectionflow">spec for creating a collection</a>)</li>
        <li>The user can select multiple apps from the search results to add to the collection.</li>
        <li>Add apps in 3 columns. The most recently added app should appear first in the list. </li>
        <li>The apps should show a control to allow the user to move apps in order.</li>
        <li>The apps should have a "x" icon so they can be removed. For remove interactions see <a href="projectSpecsMobile.html#removeappflow">spec for removing an app</a> </li>
        <li>The "Done" and "Delete collection" buttons should appear on the same level as the name of the collection field.</li>
        <li>If the user selects "Delete collection" require a confirmation. If the user confirms, take the user back to the collections screen with feedback that the collection was deleted (see <a href="#deletecollection">spec for deleting a collection</a>) </li>
        <li>If the user selects "Done" and the user has entered a collection name take the user to the collection landing screen.</li>
        <li>If the user selects "Done" and has not entered a collection name show the user a warning that the collection needs a name to be saved (see...)</li>
      </ul>

      
      
      
      
      <h3>Screen: Collection landing page</h3>
      
      <a name="collectionlandingscreendesktop"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionviewdesktop.png" alt="he can see so much more" title="" /></a>
      
      <h4>Acceptance criteria for viewing a user collection on desktop</h4>
      
      <ul class="longText">
        <li>The collection should have a name.</li>
        <li>The collection should have an edit button if the user is the creator of the collection. The edit button should appear on the same level as the name of the collection field.</li>
        <li>If the user selects "Edit" take the user to the edit collection screen.</li>
        <li>The graphic should be 6 columns and 264px tall on desktop.</li>
        <li>If the collection does not have a description center the collection graphic in the center of the screen.</li>
        <li>If the collection has a description, make the graphic flush left with the collection name and float the description to the right of the graphic.</li>
        <li>Show 3 columns of apps. </li>
        <li>Apps should be listed in reverse chronological order from newest to oldest. Apps should be listed in this order from right to left, up to down.</li>
      </ul>
      
      
      
      
  
  	</div>
  </div>