---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectResearch.html
multisequence: three
---	

<div class="container">
	<h1>User Research</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}

	<div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">

    <p class="longText">We conducted multiple usability studies of user collections on mobile and desktop.</p>

		<h3>User Collections Mobile Prototype 1</h3>
		
		<p class="longText">Study conducted on UserTesting.com on December 18, 2013</p>
		
		<h4>Purpose of Study</h4>
		
		<p class="longText">Evaluate the experience and user understanding of creating a group of apps and sharing the group with the Marketplace community. The test will identify pain points with the user flow and usefulness of user collections. We also want to get feedback on potential names for the feature (collections, lists, etc.)</p>
		
		<h4>Prototype Tested</h4>
		
		<p class="longText"><a href="http://people.mozilla.org/~mhanratty/user_collections_prototype_v1/home.html">Click here to access prototype</a>.</p>
		
		<h4>Key Takeaways</h4>
		
		<ul class="longText">
      <li>Flow of creating groups, adding an app to a group and sharing the group made sense to participants</li>
      <li>People had difficulty disambiguating between “Share” and “Share with the Community”</li>
      <li>Participants did not come up with a consistent name for the feature</li>
      <li>Participants talked about this feature in regards to organising apps on their device</li>
		</ul>

		<h3>User Collections Desktop Prototype 1</h3>
		
		<p class="longText">Study conducted on UserTesting.com on February 06, 2014</p>
		
		<h4>Purpose of Study</h4>
		
		<p class="longText">Evaluate the experience and user understanding of creating a group of apps and sharing the group with the Marketplace community on the desktop. The test will identify pain points with the user flow and discoverability of user collections. We also want to get feedback on potential names for the feature (collections, lists, etc.)</p>
		
		<h4>Prototype Tested</h4>
		
		<p class="longText"><a href="http://people.mozilla.org/~mhanratty/User_Collections_Desktop_Prototype_02042014/home.html">Click here to access prototype</a>.</p>
		
		<h4>Key Takeaways</h4>
		
		<ul class="longText">
      <li>Flow of creating groups, adding an app to a group and sharing the group made sense to participants</li>
      <li>People had difficulty finding the feature</li>
      <li>Participants preferred the name “collections” for the feature</li>
      <li>Participants had difficulty finding the bottom toolbar to make the list public</li>
		</ul>
		
		<h3>User Collections Viability Survey</h3>
		
		<p class="longText">Study to be conducted on July 2014. <a href="">View research plan here</a>.</p>
		
	</div>
	
		
