---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectSpecsMobile.html
multisequence: six
---	

<div class="container">
	<h1>Specs – Mobile</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}

	<div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-3">

	  <h2>Table of Contents</h2>
	  
	  <ol class="longText">
	  
	    <li>My Account page
	      <ol>
	        <li><a href="#collectionstabscreen">Screen: Collections Tab</a>
      	    <ol>
      	      <li><a href="#createnewcollectionflow">Flow: Create new collection</a></li>
      	      <li><a href="#createcollectionscreen">Screen: Create collection</a></li>
      	      <li><a href="#removeappflow">Flow: Remove app from collection</li>
      	      <li><a href="#deletecollectionflow">Flow: Delete collection</li>
      	      <li><a href="#editcollectionbackgroundflow">Flow: Edit collection background image</a></li>
      	      <li><a href="#editcollectionavatarflow">Flow: Edit collection avatar and display name</a></li>
      	    </ol>
          </li>
          <li><a href="#wishlisttabscreen">Screen: Wishlist Tab</a></li>
        </ol>
	    </li>
	    <li>App listing page
	      <ol>
	        <li><a href="#addappnewcollectionflow">Flow: Add app to new collection</a></li>
	        <li><a href="#addappexistingcollectionflow">Flow: Add app to existing collection</a></li>
	        <li><a href="#addapptocollectionscreen">Screen: Add app to collection modal</a></li>
        </ol>
	    </li>
	    <li>Collections landing page
	      <ul>
	        <li><a href="#flagcollectionflow">Flow: Flagging collection for abuse</a></li>
        </ul>
	    </li>
	    <li>Warning interface
	      <ul>
	        <li><a href="#collectionnamewarningscreen">Screen: Saving collection without a name</a></li>
	      </ul>
	    </li>
	  
	  </ol>
	</div>
	
  <div class="row">
  	<div class="col-sm-12 col-md-12 col-lg-12">    
      
      
      
      
      
      
      <h3>Profile page &rarr; Collections tab &rarr; Flow: Remove app from collection</h3>
      
      <a name="removeappflow"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_removeapp.png" alt="he can see so much more"/></a>
      
      <h4>Acceptance criteria for removing an app from a collection</h4>
      
      <ul class="longText">
        <li>There should be an icon to remove the app from the collection.</li>
        <li>After x seconds the app listing should fade to white. A message "App removed from collection" should appear and remain for x seconds.</li>
        <li>After x seconds the apps below should animate up into the space the app that was removed once occupied.</li>
      </ul>
      
      
      
      
      
      <h3>Profile page &rarr; Collections tab &rarr; Flow: Delete collection</h3>
      
      
      <a name="deletecollectionflow"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_deletecollection.png" alt="he can see so much more"/></a>
      
      <h4>Acceptance criteria for deleting a collection</h4>
      
      <ul class="longText">
        <li>The delete collection button should always be at the bottom of the collection.</li>
        <li>The user must confirm that the collection should be deleted.</li>
        <li>If the user delete's the collection she should return to the Collections screen where she will see feedback that the collection was successfully deleted. </li>
      </ul>
            
      
      
      
      
      <h3>App listing page &rarr; Flow: Add app to new collection</h3>
      
      <a name="addappnewcollectionflow"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_addappnewcollection.png" alt="he can see so much more"/></a>
      
      <h4>Acceptance criteria for adding an app to a new collection</h4>
      
      <ul class="longText">
        <li>When the user selects create a new collection the user should be taken to a new screen.</li>
        <li>Entering a name for the collection is required. The "Create" button should be disabled until the user has created the collection name.</li>
        <li>When the user hits enter on the collection name field they should automatically be taken to the description field.</li>
        <li>Entering a description for the collection is optional.</li>
        <li>If the user hits enter on the description field the keyboard should dismiss.</li>
        <li>The user can choose whether to make the collection visible for others to view on the Marketplace. Making the collection visible should be selected by default.</li>
        <li>When the user selects "Create" the user should return to the add to collection screen. The collection they just created should be listed directly after the app wishlist and it should be selected.</li>
        <li>The user can select additional collections to add the app to.</li>
      </ul>
      
      
      
      

      <h3>App listing page &rarr; Flow: Add app to existing collection</h3>
  
      <a name="addappexistingcollectionflow"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_addappexistingcollection.png" alt="Adding app to an existing collection" /></a>
  
  		<h4>Acceptance criteria for adding app to an existing collection</h4>
  				
      <ul class="longText">
        <li>Icon to add an app to a collection appears on the app details screen.</li>
        <li>A modal should open when user selects icon to add app to a collection.</li>
        <li>If there is only one collection, that collection should be selected.</li>
        <li>The user should have the ability to create a new collection.</li>
        <li>When an app has been added to a collection, a confirmation should appear with the icon of the app, the name of the app, and the name of the collection it was added to.</li>
        <li>In the confirmation screen the name of the collection should link to that collection's landing screen.</li>
        <li>When the user dismisses the confirmation message the user should return to the app details screen.</li>
      </ul>
      
      
      
      
  
      <h3>App listing page &rarr; Screen: Add app modal</h3>
  
      <a name="addapptocollectionscreen"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_addappmodal.png" alt="he can see so much more"/></a>
      
      <h4>Acceptance criteria for the add to collection modal</h4>
      
      <ul class="longText">
      <li>The collections should be listed with "The App Wishlist" always on top by default. Other collections should be listed in reverse chronological order from newest to oldest.</li>
      <li>All collections should include the number of apps currently in the collection.</li>
      <li>If the user only has one collection (the app wishlist) that collection should be selected.</li>
      <li>If the user has more than one collection than no collections should be selected by default.</li>
      <li>If no collection is selected the "Ok" button should be deactivated.</li>
      <li>The entire collection line item should be a touch target</li>
      <li>The app may be added to multiple collections.</li>
      <li>If there are 3+ collections a scroll bar should appear.</li>
      </ul>
      
      
      
      
      
      <h3>Collections landing page &rarr; Flow: Flagging collection for abuse</h3>

      <a name="flagcollectionflow"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_reportcollection.png" alt="he can see so much more"/></a>
      
      <h4>Acceptance criteria for flagging a collection for abuse</h4>
      
      <ul class="longText">
        <li>There should be an icon on the collection landing screen that allows the user to report a collection. </li>
        <li>The creator of a collection should not be able to report their own collection.</li>
        <li>When the report icon has been selected, an overlay should appear asking for the reason for the report. The three options are: spam, inappropriate language, and inappropriate avatar.</li>
        <li>After the user has selected the reason for reporting the collection the user should return to the collection landing screen and view feedback that the collection was reported.</li>
      </ul>
      
      
      
      
            
      <h3>Warning interface &rarr; Screen: Saving collection without a name</h3>
      
      <a name="collectionnamewarningscreen"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionnamewarning.png" alt="he can see so much more"/></a>
      
      <h4>Acceptance criteria for collection name warning</h4>
      
      <ul class="longText">
        <li>When a user selects "Done" and the collection has description or added app (or both) without a name this warning should appear (if the collection has no data, do not show this warning and just take user back to the previous screen.)</li>
        <li>The user should be able to decide whether to name the collection to save or not to save it. </li>
        <li>If the user chooses not to save the collection, take the user back to the previous screen she was on. </li>
        <li>If the user chooses to name her collection, take her to the name field. The cursor should be in the name field and the keyboard up (on mobile) so the user can immediately type in a name.</li>
      </ul>




      
    </div>
  </div>