---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectSpecsMyAccountPage.html
multisequence: nine
---	

<div class="container">
	<div class="col-sm-3 col-md-3 col-lg-3">
	
		<ul class="secondaryMenu" data-spy="affix" data-offset-top="70" data-offset-bottom="200">
			<li><a>Mobile</a>
			  <ul>
			    <li><a href="#collectionstabmobile">Collections Tab</a></li>
			    <li><a href="#wishlisttabmobile">Wishlist Tab</a></li>
			    <li><a href="#myappstabmobile">My Apps Tab</a></li>
			  </ul>
      </li>
			<li>&emsp;<a href="#collectionsscreendesktop">Desktop</a></li>
			<li>&emsp;<a href="#collectionsscreentablet">Tablet</a></li>
		</ul>
	</div>
	<div class="col-sm-9 col-md-9 col-lg-8">
		
		<h2>My Account Page</h2>
		
		<h4>The content of this page will be split off and moved to the appropriate page in the navigation menu. Open the navigation menu to see those pages.</h4>
		
    <h3 class="specItem"><a name="collectionstabmobile">Mobile – Collections Tab</a></h3>
    
    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionsscreen.png" alt="Collections Tab: Mobile"/>
    
    <ol class="longText letters">
      <li><strong>Navigation</strong><br/>
      The Collections tab can be accessed by selecting the user’s avatar, then selecting “Apps & Collections” menu item on the navigation bar.</li>
      <li><strong>Create collection message</strong>
        <ul>
          <li>If user has no collection, show a message that reads “Create collections of your favourite apps! Share your collections with friends and the Marketplace community.”</li>
          <li>If user has at least one collection, do not show this message.</li>
        </ul>
      </li>
      <li><strong>Create a new collection button</strong>
        <ul>
          <li>If user has no collection, the button should appear below the message.</li>
          <li>If user has at least one collection, the button should appear below the Collections/Wishlist/My Apps navigation tabs.</li>
        </ul>
      </li>
      <li><strong>List of collection</strong><br/>
      Collections should be sorted from the most recently created to the oldest.</li>
      <li><strong>Statistics</strong><br/>
      The collection creator should be able to view the stats for their collection. These stats include:<br/>
        <ul>
          <li>Number of shares the collection has received</li>
          <li>Number of views the collection has received</li>
          <li>Number of upvotes the collection has received</li>
        </ul>
      </li>
      <span class="warning">WARNING: The interface to do this is not yet known. The mechanism to share his/her own collection is also unclear. We need to figure this out.</span>
      <li><strong>Search bar</strong>
        <ul>
          <li>Only show search when user has created more than 3 collections.</li>
          <li>Search should appear above the list of collections and below the Create a new collection button</li>
      <li>The search box should appear just above the list of collections.</li>
        </ul>
      </li>
    </ol>

    <h3 class="specItem"><a name="collectionsscreendesktop">Collections, Wishlist & My Apps Screen: Desktop</a> <span class="warning">NOT YET DONE</span></h3>   

    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionsscreendesktop.png" alt="Collections, Wishlist & My Apps Screen: Desktop"/>
    
    <h4>Acceptance criteria for viewing your user collections on desktop</h4>
    
    <ul class="longText">
      <li>Collections are visible under “My Account” when the user is signed in. </li>
      <li>On desktop the user can see Collections, Wishlist and My Apps in one view.</li>
      <li>On desktop the sections of the page have titles</li>
      <li>If there are > 3 collections show a search bar so that the user can search through their collections.</li>
      <li>Create new collection call-to-action should take user to the create a collection screen.</li>
      <li>Collections are listed from most recently created to oldest in blocks of 6 moving left to right, up to down. </li>
      <li>The collection graphic should be the same as seen on mobile.</li>
      <li>If the user has > 6 collections the collections should start being visible as overflow content. A right arrow control should allow the user to scroll through the overflow content.</li>
      <li>If the user has 0 collections show text to let the user know what collections are. </li>
    </ul>
    
    <h3 class="specItem"><a name="collectionsscreentablet">Collections, Wishlist & My Apps Screen: Tablet</a> <span class="warning">NOT YET DONE</span></h3>
      
    <a name="collectionscreentablet"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionscreentablet.png" alt="he can see so much more" title="" /></a>    

    <h4>Acceptance criteria for viewing your user collections on tablet</h4>
    
    <p class="longText"><a href="projectSpecsDesktop.html#collectionspagescreendesktop">Same as for desktop</a>, except:</p>
    
    <ul class="longText">
    <li>Collection search is below Collection title</li>
    <li>Only 4 collections are visible at a time</li>
    </ul>}}}
		
	</div>
	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. 
		NOTE: This is currently broken in the Jekyll ver of this template.
		-->
		{% if page.multipage %}
			{% include homePagination.html %}
		{% endif %}