---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectMetrics.html
multisequence: two
---	

<div class="container">

	<h1>Metrics</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}

	<div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
		
		<ul class="longText">
			<li>User collections should increase successful app installs on Firefox OS by 5%</li>
			<li></li>
		</ul>
		
	</div>
