---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectSpecsTablet.html
multisequence: eight
---	

<div class="container">
	<h1>Specs – Tablet</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}

	<div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">

    <h4>Viewing all of my user collections on tablet</h4>
    
    <a name="collectionscreentablet"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionscreentablet.png" alt="he can see so much more" title="" /></a>    

    <p class="longText"><strong>Acceptance criteria for creating a collection on tablet</strong></p>
    
    <p class="longText">Same as for desktop except...</p>
    
    <ul class="longText">
    <li>Collection search is below Collection title</li>
    <li>Only 4 collections are visible at a time</li>
    </ul>
    
    <h4>Creating a user collection on tablet</h4>
    
    <a name="collectioncreatetablet"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectioncreatetablet.png" alt="he can see so much more" title="" /></a>    

    <p class="longText"><strong>Acceptance criteria for creating a collection on tablet</strong></p>
    
    <p class="longText">Same as for desktop except...</p>
    
    <ul class="longText">
      <li>"Cancel" and "Done" should appear above the name of the collection.</li>
      <li>The description field should appear below the graphic.</li>
      <li>Apps should appear in two columns.</li>
    </ul>
    
    <h4>User collection landing screen on tablet</h4>
    
    <a name="collectionviewtablet"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionviewtablet.png" alt="he can see so much more" title="" /></a>    

    <p class="longText"><strong>Acceptance criteria for viewing a collection on tablet</strong></p>
    
    <p class="longText">Same as for desktop except...</p>
    
    <ul class="longText">
      <li>"Edit" button should appear above the name of the collection.</li>
      <li>The description field should appear below the graphic.</li>
      <li>Apps should appear in two columns.</li>
    </ul>
    
    <h4>Editing a user collection on tablet</h4>
    
    <a name="collectionedittablet"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionedittablet.png" alt="he can see so much more" title="" /></a>    

    <p class="longText"><strong>Acceptance criteria for editing a collection on tablet</strong></p>
    
    <p class="longText">Same as for desktop except...</p>
    
    <ul class="longText">
      <li>"Delete collection" and "Done" should appear above the name of the collection.</li>
      <li>The description field should appear below the graphic.</li>
      <li>Apps should appear in two columns.</li>
    </ul>
    
    <h4>Community screen on tablet</h4>
    
    <a name="communityscreentablet"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_communityscreentablet.png" alt="he can see so much more" title="" /></a>    
    <p class="longText"><strong>Acceptance criteria for community screen on tablet</strong></p>
    
    <p class="longText">Same as for desktop except...</p>
    
    <ul class="longText">
      <li>Only 4 collections are shown at a time.</li>
      <li>The collection graphic is always 4 columns wide.</li>
    </ul>

	</div>