---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectSpecsCollectionEdit.html
multisequence: twelve
---	

<div class="container">
	<div class="col-sm-3 col-md-3 col-lg-3">
	
		<ul class="secondaryMenu" data-spy="affix" data-offset-top="70" data-offset-bottom="200">
			<li><a href="#editcollectionmobile">Mobile</a>
			  <ul>
			    <li><a href="#editcollectionbackgroundmobile">Edit Background Image</a></li>
			   <li><a href="#editcollectionavatarmobile">Edit Avatar & Display Name</a></li>
			  </ul>
      </li>
			<li><a href="#editcollectiondesktop">Desktop</a></li>
			<li><a href="#editcollectiontablet">Tablet</a></li>
		</ul>
	</div>
	<div class="col-sm-9 col-md-9 col-lg-8">
		
		<h2>My Account Page &rarr; Collections &rarr; Edit Collection</h2>
		
		<p class="longText">This interface should appear when user selects the Edit collection button on the Individual collection page.</p>
		
		<h3 class="specItem"><a name="editcollectionmobile">Mobile – Accessing the Edit Collection interface</h3>
		
		<p class="longText">This method of access works exactly the same way as both the Desktop and Tablet layouts.</p>
		
		<img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionedit.png" alt="Accessing the Edit Collection interface: Mobile">
		
		<ol class="longText">
		  <li>Select the user’s avatar, then select “Apps & Collections” menu item on the navigation bar. User is taken to the Collections tab.</li>
		  <li>Select any collection on the list. User is taken to the Individual collection page.</li>
		  <li>Select the Edit collection button. User is taken to the Edit collection page.</li>
		</ol>
		
    <h3 class="specItem"><a name="editcollectionbackgroundmobile">Mobile &rarr; Edit Collection Background Image</a></h3>
     
    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectioneditbackground.png" alt="Edit Collection Background Image: Mobile"/>
    
    <ol class="longText">
      <li><strong>Edit collection page</strong><br/>
      Select the edit icon on the top-right corner. User is taken to the Choose background screen.</li>
      <li><strong>Choose background</strong><br/>
        <ul>
          <li>The current background is marked as selected. In this example, the background is green, so it’s located on the area of the screen that this screenshot does not cover.</li>
          <li>User selects new background. New background is marked as selected.</li>
        </ul>
      </li>
      <li><strong>New background selected</strong><br/>
      When user is done selecting a background, user selects the Done button. User is taken back to the Edit collection page.</li>
      <li><strong>Edit collection page – new background</strong><br/>
      The color change should be animated.<br/>
      <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectioneditbackground_animation.gif">
      </li>
    </ol>
    
    <h3 class="specItem"><a name="editcollectionavatarmobile">Mobile &rarr; Edit Collection Avatar & Display Name</h3>
    
    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectioneditavatar.png" alt="Edit Collection Avatar & Display Name: Mobile"/>
    
    <ol class="longText">
      <li><strong>Edit collection page</strong><br/>
      Select the edit icon on the bottom of the avatar area. User is taken to the Edit profile screen.</li>
      <li>Edit profile page<br/>
        <ul>
          <li>To edit the avatar, select the edit icon on the bottom of the avatar area.</li>
          <li>The device’s Gallery app should open.</li>
          <li>The user can select a profile image from the device’s Gallery.</li>
        </ul>
      </li>
      <li><strong>New avatar selected</strong><br/>
      When user is done selecting an avatar, user selects the Done buton. User is taken back to the Edit collection page.</li>
      </li>
      <li><strong>Edit collection page – new avatar</strong></li>
    </ol>

    <h3 class="specItem"><a name="editcollectiondesktop">Desktop</a></h3>
    
    <p class="longText">Compare and contrast this Edit collection interface with the <a href="projectSpecsCollectionsCreate.html#createcollectiondesktop">Create collection interface</a>.</p>
    
    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectioneditdesktop.png" alt="Edit Collection: Desktop" title="" />
    
    <p class="longText">As you might have noticed, the Collection edit interface on the desktop layout looks and behaves in exactly the same way as the <a href="projectSpecsCollectionsCreate.html#createcollectiondesktop">Create collection interface</a>.</p>
    
    <p class="longText">It has a collection name, collection graphic, description, visibility toggle, add apps interface, app search filter, search result and added app area.</p>
    
    <p class="longText">With these exceptions:</p>
    
    <ol class="longText letters">
      <li><strong>Delete Collection and Done button</strong><br/>
        <ul>
          <li>When you create a collection, your actions are Cancel and Done. But when you edit, your actions are Delete and Done.</li>
          <li>Selecting the Delete button should open a confirmation dialog that says “Are you sure you would like to delete this collection?”.</li>
        </ul>
      </li>
      <li><strong>Added app area</strong><br/>
          <ul>
            <li>Every app inside the collection will appear inside this area as a block.</li>
            <li>Each app block occupies a 4-column space. Therefore, each row can contain up to 3 apps.</li>
            <li>Each row is filled from left to right.</li>
          </ul>
      </li>
      <li><strong>Added app area – move and delete controls</strong><br/>
      In the Edit collection interface, each app box has controls that allows user to move and delete apps from the collection. In view mode, these controls are hidden.</li>
    </ul>
    
    <h3 class="specItem"><a name="editcollectiontablet">Tablet</a></h3>
    
    <p class="longText">Compare and contrast this Edit collection interface with the <a href="projectSpecsCollectionsCreate.html#createcollectiontablet">Create collection interface</a>.</p>
    
    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionedittablet.png" alt="Edit Collection: Tablet" />    

    <h4>Acceptance criteria for editing a collection on tablet</h4>
    
    <p class="longText">Identical to the <a href="projectSpecsDesktop.html#editcollectionscreendesktop">Desktop layout</a>, except:</p>

    <ol class="longText">
      <li><strong>Delete Collection and Done button</strong><br/>
        <ul>
          <li>It’s not Cancel and Done, which is used on the Create collection interface.</li>
          <li>Appear above collection name, not parallel to it.</li>
        </ul>
      </li>
      <li><strong>Description</strong><br/>
      Appears below the collection graphic, not to the right of it.</li>
      <li><strong>Added app area</strong><br/>
      Each app block occupies a 3-column space instead of 4. Therefore, each row can only contain up to 2 app blocks, not 3.</li>
    </ol>

    
		
	</div>
	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. 
		NOTE: This is currently broken in the Jekyll ver of this template.
		-->
		{% if page.multipage %}
			{% include homePagination.html %}
		{% endif %}