---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectSpecsTablet.html
multisequence: eight
---	

<div class="container">
	<h1>Specs – Tablet</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}

	<div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-3">
	
  	<h2>Table of Contents</h2>
  	  
	  <ol class="longText">
	  
	    <li>Home page
	      <ul>
	        <li><a href="#communitytabscreentablet">Screen: Community tab</a></li>
        </ul>
      </li>
	    <li>My Account page
	      <ul>
	        <li><a href="#collectionspagescreentablet">Screen: Collections, Wishlist & My Apps page</a>
      	    <ol>
      	      <li><a href="#createcollectionscreentablet">Screen: Create collection</a></li>
      	      <li><a href="#editcollectionscreentablet">Screen: Edit collection</a></li>
      	    </ol>
          </li>
        </ul>
	    </li>
	    <li><a href="#collectionlandingscreentablet">Screen: Collections landing page</a></li>
	  
	  </ol>
	</div>
  	
  <div class="row">
  	<div class="col-sm-12 col-md-12 col-lg-12">
  	

  	
  	
  	
  	  <h3>Home page &rarr; Screen: Community tab</h3>
      
      <a name="communitytabscreentablet"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_communityscreentablet.png" alt="he can see so much more" title="" /></a>    
      
      <h4>Acceptance criteria for community screen on tablet</h4>
      
      <p class="longText"><a href="projectSpecsDesktop.html#communitytabscreendesktop">Same as for desktop</a>, except:</p>
      
      <ul class="longText">
        <li>Only 4 collections are shown at a time.</li>
        <li>The collection graphic is always 4 columns wide.</li>
      </ul>

      
      
      
      
      <h3>My Account page &rarr; Screen: Collections, Wishlist & My Apps page</h3>
        
      <a name="collectionscreentablet"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionscreentablet.png" alt="he can see so much more" title="" /></a>    
  
      <h4>Acceptance criteria for creating a collection on tablet</h4>
      
      <p class="longText"><a href="projectSpecsDesktop.html#collectionspagescreendesktop">Same as for desktop</a>, except:</p>
      
      <ul class="longText">
      <li>Collection search is below Collection title</li>
      <li>Only 4 collections are visible at a time</li>
      </ul>
      




      <h3>My Account page &rarr; Screen: Create collection</h3>
      
      <a name="createcollectionscreentablet"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectioncreatetablet.png" alt="he can see so much more" title="" /></a>    
  
      <h4>Acceptance criteria for creating a collection on tablet</h4>
      
      <p class="longText"><a href="projectSpecsDesktop.html#createcollectionscreendesktop">Same as for desktop</a>, except:</p>
      
      <ul class="longText">
        <li>"Cancel" and "Done" should appear above the name of the collection.</li>
        <li>The description field should appear below the graphic.</li>
        <li>Apps should appear in two columns.</li>
      </ul>
      
      
      
      
      
      <h3>My Account page &rarr; Screen: Edit collection</h3>
      
      <a name="editcollectionscreentablet"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionedittablet.png" alt="he can see so much more" title="" /></a>    
  
      <h4>Acceptance criteria for editing a collection on tablet</h4>
      
      <p class="longText"><a href="projectSpecsDesktop.html#editcollectionscreendesktop">Same as for desktop</a>, except:</p>
      
      <ul class="longText">
        <li>"Delete collection" and "Done" should appear above the name of the collection.</li>
        <li>The description field should appear below the graphic.</li>
        <li>Apps should appear in two columns.</li>
      </ul>
      




      <h3>Screen: Collections landing page</h4>
      
      <a name="collectionlandingscreentablet"><img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectionviewtablet.png" alt="he can see so much more" title="" /></a>    
  
      <h4>Acceptance criteria for viewing a collection on tablet</h4>
      
      <p class="longText"><a href="projectSpecsDesktop.html#collectionlandingscreendesktop">Same as for desktop</a>, except:</p>
      
      <ul class="longText">
        <li>"Edit" button should appear above the name of the collection.</li>
        <li>The description field should appear below the graphic.</li>
        <li>Apps should appear in two columns.</li>
      </ul>
      



      
    </div>  
	</div>