---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectSpecsCollectionCreate.html
multisequence: ten
---	

<div class="container">
	<div class="col-sm-3 col-md-3 col-lg-3">
	
		<ul class="secondaryMenu" data-spy="affix" data-offset-top="70" data-offset-bottom="200">
			<li><a href="#createcollectionmobile">Mobile</a></a>
			<li><a href="#createcollectionflowmobile">■ How to Create</a></li>
			<li><a href="#createcollectiondesktop">Desktop</a></li>
			<li><a href="#createcollectiontablet">Tablet</a></li>
		</ul>
	</div>
	<div class="col-sm-9 col-md-9 col-lg-8">
		
		<h2>My Account &rarr; Collections &rarr; Create a New Collection</h2>
		
		<p class="longText">This interface should appear when user selects Create a collection button on the <a href="projectSpecsCollections.html">list of collections</a> page.</p>
		
    <h3 class="specItem"<a name="createcollectionmobile">Mobile</a></h3>
    
    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_createcollectionviews.png" alt="Create A New Collection: Mobile"/>
    
    <ol class="longText letters">
    
      <li><strong>Done button</strong><br/>
        <ul>
          <li>If a collection has at least a name and one app, selecting the Done button will save the collection and allow user to view it.</li>
          <li>If a collection doesn’t have at least both of those items, selecting the Done button will bring user back to the <a href="projectSpecsCollections.html#collectionsmobile">Collections Tab</a>.</li>
        </ul>
      </li>
      
      <li><strong>Avatar</strong><br/>
        <ul>
          <li>Show blank avatar when user doesn’t have one.</li>
          <li>Show user’s avatar when user has one.</li>
          <li>Selecting the edit icon on the avatar will take user to the <a href="projectSpecsCollectionEdit.html#editcollectionavatarmobile">Edit Avatar & Display Name interface</a>.</li>
        </ul>
      </li>
      
      <li><strong>Background image</strong><br/>
        <ul>
          <li>Show gray background when user has no app added.</li>
          <li>When no app is added, it’s not possible to select a background.</li>
          <li>As shown in Ⓚ, a random background is shown after user has at least one app added.</li>
          <li>As shown in Ⓚ, the edit icon is shown after user has at least one app added.</li>
          <li>Selecting the edit icon in Ⓚ will take user to the <a href="projectSpecsCollectionEdit.html#editcollectionbackgroundmobile">Edit Background Image interface</a>.</li>
        </ul>
      </li>
      
      <li><strong>Collection name and byline</strong><br/>
        <ul>
          <li>When user haven’t typed a name, display “Collection name”.</li>
          <li>After user has typed a name inside textbox Ⓕ, display the name the user has typed.</li>
          <li>To edit byline, the edit button on the avatar is used. It will take user to the <a href="projectSpecsCollectionEdit.html#editcollectionavatarmobile">Edit Avatar & Display Name interface</a>.</li>
        </ul>
      </li>
      
      <li><strong>Slots for app icons</strong><br/>
        <ul>
          <li>Show white dotted lines when no apps have been added.</li>
          <li>Up to 5 apps can be shown on the preview area.</li>
          <li>As shown in Ⓛ, app icon replaces the dotted boxes as soon as it’s added.</li>
          <li>Icon replace the dotted boxes in this order:<br/>
          <img src="img/usercollections_appslotorder.png">
          </li>
        </ul>
      </li>
      
      <li><strong>Collection name textbox</strong><br/>
      Name is mandatory. Inputted name is displayed in Ⓓ.</li>
      
      <li><strong>Description textbox</strong><br/>
      Description is optional. Inputted description is displayed after user selects done Ⓐ, and the interface returns to view mode.</li>
      
      <li><strong>Visibility toggle</strong><br/>
      Default value should be set to on (visible).</li>
      
      <li><strong>Add apps button</strong><br/>
        <ul>
          <li>At least one app is mandatory.</li>
          <li>As shown in Ⓜ, after adding an app, the app name and information should be shown below the button. An app that’s been added can be reordered and removed.</li>
          <li>As shown in Ⓛ, after adding an app, the app icon should be shown in the slots up above.</li>
          <li>Selecting the button will take user to the Add Apps Interface. This interface is combined with the <a href="#createcollectionflowmobile">How to Create a Collection flow</a>.</li> 
        </ul>
      </li>
      
      <li><strong>Delete collection button</strong><br/>
      <span class="warning">It’s unclear how the delete interface will work. We assume that there will be a confirmation message that says something like “Are you sure you want to delete [Collection name]?” followed by “Cancel” and “Delete” buttons.</span></li>
      
    </ol>



    <h3 class="specItem"<a name="createcollectionflowmobile">Mobile &rarr; How to Create a Collection</a></h3>
    
    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_createcollectionfromcollections.png" alt="Create A New Collection Flow: Mobile"/>
    
    <ol class="longText">
    
      <li><strong>My Collections</strong><br/>
      Start here, then select the Create a new collection button.</li>
      
      <li><strong>Create collections</strong><br/>
        <ul>
          <li>Let’s assume that user already has an avatar and a display name. If user would like to edit them, go to the <a href="projectSpecsCollectionEdit.html#editcollectionavatarmobile">Edit Avatar & Display Name interface</a>.</li>
          <li>Selecting the Collection name textbox will bring up the keyboard</li>
        </ul>
      </li>
      
      <li><strong>Add collection name</strong><br/>
        <ul>
          <li>When the user type, the collection name preview area should update in real time.</li>
          <li>When the user hits Return/Enter, they should automatically be taken to the Description textbox.</li>
        </ul>
      </li>
      
      <li><strong>Add collection description</strong><br/>
      When the user hits the Return/Enter on the keyboard, the keyboard should be dismissed.</li>
      
      <li><strong>Add apps</strong><br/>
      When the user selects this button, the Add apps screen should appear.</li>
      
      <li><strong>Add apps – empty</strong><br/>
      When the user selects the search box, the keyboard appears.</li>
      
      <li><strong>Add apps – search</strong><br/>
      When the user have inputted a search term on the keyboard and hit Return/Enter, the search result is loaded and the keyboard is dismissed.</li>
      
      <li><strong>Add apps – search result</strong><br/>
      When the user taps the area of each search result listing, that app is selected. The entire line item is a touch target.</li>
      
      <li><strong>Add apps – app selected</strong><br/>
        <ul>
          <li>When an app has been selected, a checkbox should be displayed.</li>
          <li>After x seconds, the list item fades to white</li>
          <li>After it fades, a confirmation message is displayed.</li>
        </ul>
      </li>
      
      <li><strong>Add app confirmation</strong><br/>
        <ul>
          <li>The confirmation message should read “App added to collection”.</li>
          <li>When user is finished, s/he selects done and returned to the Create a Collection screen.</li>
        </ul>
      </li>
      
      <li><strong>Create collection – 1 app</strong><br/>
        <ul>
          <li>As noted above, if at least one app is added to the list, the graphic should change color and the apps are previewed.</li>
          <li>To <a href="projectSpecsCollectionEdit.html#editcollectionbackgroundmobile">Edit Background Image</a>, user can select the pencil icon on the top-right corner.</li>
          <li>Selecting the Done button will take user to the view mode.</li>
        </ul>
      </li>
      
      <li><strong>Collection landing screen</strong><br/>
        <ul>
          <li>The background image shifts down a little bit.</li>
          <li>The app slots disappear, replaced by a listing below the description.</li>
          <li>The share, flag and upvote icons are shown.</li>
          <li>The app description is shown below these icons.</li>
          <li>Finally, tapping the Back button takes user to the <a href="projectSpecsCollections.html#collectionsmobile">Collections Tab</a>.</li>
        </ul>
      </li>
    </ol>
        
    <h3 class="specItem"<a name="createcollectiondesktop">Desktop</a></h3>
    
    <p class="longText">The behavior for many of these elements are exactly the same as those found on the <a name="createcollectionmobile">Mobile layout</a>.</p>
    
    <p class="longText">Compare and contrast this Create collection interface with the <a href="projectSpecsCollectionsEdit.html#editcollectiondesktop">Edit collection interface</a>.</p>
      
    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectioncreatedesktop.png" alt="Create A New Collection: Desktop"/>
    
    <ol class="longText letters">
    
      <li><strong>Collection name</strong><br/>
        <ul>
          <li>When clicked, the text turns into a textbox that allows user to edit.</li>
          <li>When user hits the Return/Enter or Tab key, take user to the Description field, and turn it into an editable textbox.</li>
        </ul>
      </li>
      <li><strong>Cancel and Done button</strong><br/>
        <ul>
          <li>The Cancel and Done button appear parallel to collection name.</li>
          <li>If a collection has at least a name and one app, selecting the Done button will save the collection and allow user to view it.</li>
          <li>If a collection doesn’t have at least both of those items, the Done button is disabled and cannot be selected.</li>
          <li>Selecting the Cancel button will bring user back to the <a href="projectSpecsCollections.html#collectionsdesktop">Collections Page</a>.</li>
        </ul>
      </li>
      
      <li><strong>Collection graphic</strong><br/>
        <ul>
          <li><strong>Size</strong>: 6 columns wide, 264px tall.</li>
          <li>Selecting the edit icon on the avatar will take user to the Edit Avatar & Display Name interface. <span class="warning">Is this the Edit profile page, or is this an entirely new interface?</span></li>
          <li>Editing the background image is possible when user has added at least one app in a collection. The Edit Background Image interface should open in a modal, <span class="warning">but a model has not been designed yet</span></li>
        </ul>
      </li>
      
      <li><strong>Description</strong><br/>
        <ul>
          <li>When clicked, the text turns into a textbox that allows user to edit.</li>
          <li>When user hits the Return/Enter or Tab key, no action is performed.</li>
        </ul>
      </li>
      
      <li><strong>Visibility toggle</strong><br/>
      Appears underneath the Description, but is aligned to the right side of the column grid.</li>
      
      <li><strong>Add apps</strong><br/>
        <ul>
          <li>The add apps interface occupies the same page as Create a new collection. Consequently, there is no Add apps button to click.</li>
          <li>The search behavior is exactly the same as the Mobile layout, except:
            <ul>             
              <li>The user can search by app name or the url of the app on Marketplace. The user can do this on the Mobile layout, too, but it’s significantly harder to perform.</li>
              <li>The user can clear the search query by selecting the "x" icon in the right side of the search box. On the Mobile layout, the user must hit backspace. <span class="warning">Is there a reason why the Mobile layout cannot have this feature, too?</span></li>
            </ul>
          </li>
        </ul>
      </li>
      
      <li><strong>Filtering app search</strong><br/>
      After a search query is entered, user can filter search results by all devices, desktop, or mobile. The filter should default to all devices.</li>
      
      <li><strong>Search result</strong><br/>
        <ul>
          <li>Instead of a checkbox, each list item in the search result has a button that says “Add to collection”.</li>
          <li>When selected, the list item fades to white and display a confirmation message that the app has been added to collection. This behavior is exacly the same as those found on the Mobile layout.</li>
        </ul>
      </li>
      
      <li><strong>Added app area (now shown)</strong><br/>
      
      After an app is added, it will appear in this area as a block.<br/>
      
      <strong>Why is this area not shown here? Where can I see it?</strong><br/>
      
      When a collection is created, it initially contains no app. Because there is no app, this area is blank. To see how this area work, at least one app must be added. Go to the <a href="projectSpecsCollectionsEdit.html#editcollectiondesktop">Edit collection interface</a> to see it.</li>

    </ol>
    
    <h3 class="specItem"<a name="createcollectiontablet">Tablet</a></h3>
    
    <p class="longText">Compare and contrast this Create collection interface with the <a href="projectSpecsCollectionsEdit.html#editcollectiontablet">Edit collection interface</a>.</p>
      
    <img src="http://mhanratty.github.io/marketplaceux-usercollections/img/usercollections_collectioncreatetablet.png" alt="Create A New Collection: Tablet" />
    
    <p class="longText">Identical to the <a href="#createcollectiondesktop">Desktop layout</a>, except:</p>
    
    <ol class="longText">
      <li><strong>Cancel and Done button</strong><br/>
      Appear above collection name, not parallel to it.</li>
      <li><strong>Description</strong><br/>
      Appears below the collection graphic, not to the right of it.</li>
      <li><strong>Added app area (now shown)</strong><br/>
      After an app is added, it will appear in this area as a block.<br/>
      <strong>Why is this area not shown here?</strong><br/>
      This area is not shown on this page because there’s no app added. To see this area, at least one app must be added. Go to the <a href="projectSpecsCollectionsEdit.html#editcollectiontablet">Edit collection interface</a> to see it.</li></li>
    </ol>
		
	</div>
	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. 
		NOTE: This is currently broken in the Jekyll ver of this template.
		-->
		{% if page.multipage %}
			{% include homePagination.html %}
		{% endif %}