<!-- DONT FORGET TO ADD "multiURL" and "multisequence" tags to the page you're working with. Also change multipage to "true". -->

<ul class="pagination col-sm-6 col-md-4 col-lg-4">		

<!-- This part deals with disabled state of the BACK arrow. Disabled state is for the FIRST page of the multi pages. -->
{% if page.multiURL == "projectOverview.html" %}
	<li class="disabled"><a href="#">&laquo;</a></li>

<!--  This part deals with the enabled state of the BACK arrow. The FIRST page is not included in this section b/c its included in the DISABLED state above. REMEMBER that the BACK arrow links to PREVIOUS page URLs. -->
{% else %}
	<li>
		{% if page.multisequence == 'two' %}
			<a href="projectOverview.html">
		{% elsif page.multisequence == 'three' %}
			<a href="projectMetrics.html">
		{% elsif page.multisequence == 'four' %}
			<a href="projectResearch.html">
		{% elsif page.multisequence == 'five' %}
			<a href="projectFeatures.html">
		{% elsif page.multisequence == 'six' %}
			<a href="projectUserStories.html">
		{% elsif page.multisequence == 'seven' %}
			<a href="projectSpecsCommunityPage.html">
		{% elsif page.multisequence == 'eight' %}
			<a href="projectSpecsIndividualCollectionPage.html">
		{% elsif page.multisequence == 'nine' %}
			<a href="projectSpecsAppListingPage.html">
		{% elsif page.multisequence == 'ten' %}
			<a href="projectSpecsMyAccountPage.html">
		{% elsif page.multisequence == 'eleven' %}
			<a href="projectSpecsCreateCollection.html">
		{% elsif page.multisequence == 'twelve' %}
			<a href="projectSpecsEditCollection.html">
		{% elsif page.multisequence == 'thirteen' %}
			<a href="projectSpecsRemoveAppFromCollection.html">
		{% endif %}
		&laquo;</a>
	</li>
{% endif %}

<!-- This part deals with the MIDDLE pages (not FIRST or LAST) of the multi page navigation. -->
		<li {% if page.multiURL == 'projectOverview.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectOverview.html">1</a></li>

		<li {% if page.multiURL == 'projectMetrics.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectMetrics.html">2</a></li>
		
		<li {% if page.multiURL == 'projectResearch.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectResearch.html">3</a></li>

		<li {% if page.multiURL == 'projectFeatures.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectFeatures.html">4</a></li>

		<li {% if page.multiURL == 'projectUserStories.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectUserStories.html">5</a></li>
		
		<li {% if page.multiURL == 'projectSpecsCommunityPage.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectSpecsCommunityPage.html">6</a></li>

		<li {% if page.multiURL == 'projectSpecsIndividualCollectionPage.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectSpecsIndividualCollectionPage.html">7</a></li>
		
		<li {% if page.multiURL == 'projectSpecsAppListingPage.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectSpecsAppListingPage.html">8</a></li>
		
		<li {% if page.multiURL == 'projectSpecsMyAccountPage.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectSpecsMyAccountPage.html">9</a></li>
		
		<li {% if page.multiURL == 'projectSpecsCreateCollection.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectSpecsCreateCollection.html">10</a></li>
		
		<li {% if page.multiURL == 'projectSpecsEditCollection.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectSpecsEditCollection.html">11</a></li>
		
		<li {% if page.multiURL == 'projectSpecsRemoveAppFromCollection.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectSpecsRemoveAppFromCollection.html">12</a></li>
		
		<li {% if page.multiURL == 'projectSpecsDeleteCollection.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projectSpecsDeleteCollection.html">13</a></li>

<!-- This part deals with disabled state of the FORWARD arrow. Disabled state is for the LAST page of the multi pages. -->
{% if page.multiURL == "projectSpecsDeleteCollection.html" %}
	<li class="disabled"><a href="#">&raquo;</a></li>

<!--  This part deals with the enabled state of the FORWARD arrow. The LAST page is not included in this section b/c its included in the DISABLED state above.  REMEMBER that the FORWARD arrow links to NEXT page URLs. -->
{% else %}
	<li>
		{% if page.multisequence == 'one' %}
			<a href="projectMetrics.html">
		{% elsif page.multisequence == 'two' %}
			<a href="projectResearch.html">
		{% elsif page.multisequence == 'three' %}
			<a href="projectFeatures.html">
		{% elsif page.multisequence == 'four' %}
			<a href="projectUserStories.html">
		{% elsif page.multisequence == 'five' %}
			<a href="projectSpecsCommunityPage.html">
		{% elsif page.multisequence == 'six' %}
			<a href="projectSpecsIndividualCollectionPage.html">
		{% elsif page.multisequence == 'seven' %}
			<a href="projectSpecsAppListingPage.html">
		{% elsif page.multisequence == 'eight' %}
			<a href="projectSpecsMyAccountPage.html">
		{% elsif page.multisequence == 'nine' %}
			<a href="projectSpecsCreateCollection.html">
		{% elsif page.multisequence == 'ten' %}
			<a href="projectSpecsEditCollection.html">
		{% elsif page.multisequence == 'eleven' %}
			<a href="projectSpecsRemoveAppFromCollection.html">
		{% elsif page.multisequence == 'twelve' %}
			<a href="projectSpecsDeleteCollection.html">
		{% endif %}
		&raquo;</a>
	</li>
{% endif %}

</ul>